$element-spacing: .5rem;
$sub-heading-spacing: 1rem;
$heading-spacing: 2rem;
$section-spacing: 3.5rem;

$default-anim-duration: .4s;

/* Colors */
$gray-200: #f3f4f6;
$gray-400: #d1d5db;
$gray-500: #6b7280;
$gray-700: #373d51;
$gray-900: #111b27;

$blue-200: #b9c8f5;
$blue-400: #6784dd;
$blue-500: #3768FF;
$blue-700: #284CBB;
$blue-900: #1E3A90;
