@import "../../styles/app.scss";

#main {
  padding-top: 100px;
}

nav img {
  border-radius: 100%;
}

.fixed-header {
  position: fixed;
  left: 0;
  right: 0;
  transition: all $default-anim-duration;
}
